---
import MarkdownIt from 'markdown-it';
import { getCollection } from "astro:content";
import "/src/styles/index.css";

export async function getStaticPaths() {
  const posts = await getCollection('articles');
  return posts.map(p => ({
    params: { slug: p.slug },
    props: { post: p }
  }));
}

const { post } = Astro.props;

const md = new MarkdownIt({
  html: false,
  linkify: true,
  typographer: true
});

const postBody: string = md.render(post.body);
---
<html lang="zh">
	<head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{post.data.title}</title>
        <script class="show" defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>
        <script class="show" defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
        <link class="show" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css"></link>
        
        <script>hljs.highlightAll();</script>
        <script class="show">
            MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
            MathJax.typesetPromise()
        </script>
        <script type="module">
            import { showDialog } from '/index.js';
        </script>
    </head>
	<body>
		<header>{post.data.title}</header>
		<div class="card show display"id="content">
            <div set:html={postBody}></div>
        </div>
	</body>
</html>