:root{
    --background-color1:#91b3dc;
    --background-color2:#a499e3;
}

html{
    font-size: large;
    background: linear-gradient(to right,var(--background-color1),var(--background-color2));
}

header{
    position: sticky;
    top: 0;
    background-color: #00ff117e;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.card{
    transition: all 0.2s ease-in-out;
    margin: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffffba;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.card:hover{
    transform:translateY(-2px);
    box-shadow: 3px 4px 6px 2px rgba(0, 0, 0, 0.3);
}
