---
import Head from "../components/Head.astro"
---
<html lang="zh-CN">
    <head>
        <Head enableMath enableHighlight />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>页面未找到 - 404</title>
    </head>
    <body>
        <header>页面未找到 - 404</header>
        <div class="card show display" id="content">
            <h2>抱歉，您访问的页面不存在！</h2>
            <p>可能是因为您输入了错误的URL，或者该页面已被删除。</p>
            <p>请检查您的链接或返回<a href="/">首页</a>继续浏览。</p>
        </div>
    </body>
</html>