---
import "../styles/index.css";
import { marked } from 'marked';

const aboutmd=`
关于 [我](./aboutme)
`
const about:string = await marked(aboutmd);
---
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Songlll 导航页</title>
	</head>
	<body>
		<header>导航页</header>
		<div class="card" set:html={about}>
		</div>
	</body>
</html>